<div class="app wrapper">

  <div class="app-bar">
    <div class="app-bar-header">
      {{#link-to 'index'}}Foursquare Client{{/link-to}}
    </div>
  </div>

  <div class="app-main">
    <div class="row">
      <div class="col-md-1 nopadding"/>
      <div class="app-body col-md-5 nopadding">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
